---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Parcours | Romain Bedouret" description="Parcours Romain Bedouret">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Mon Parcours"
				tagline="Découvrez mon parcours et mes compétences."
			>
			<div class="flex justify-center"> <!-- Ajoutez cette classe pour centrer -->
				<img
					width="540"
					height="375"
					src="/portfolio/assets/at-work.png"
					alt="Jeune homme qui travaille devant un PC."
				/>
			</div>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Issu d’une formation initiale en informatique, j’ai développé mes compétences au fil des années à travers des expériences variées, des projets ambitieux et une curiosité constante pour les nouvelles technologies.<br><br>

						Après mon Baccalauréat Scientifique, je me suis orienté directement vers le développement, domaine dans lequel j’ai eu l’opportunité de progresser grâce à plusieurs stages, une alternance enrichissante puis mes premiers postes en CDI. Ces expériences m’ont permis d’acquérir de solides bases en conception, développement et gestion de projets.<br><br>

						Aujourd’hui, je travaille chez SERMA Energy en tant que développeur applications web, où je conçois et maintiens des outils internes stratégiques (Symfony, PHP, JavaScript, VBA) pour optimiser la productivité et accompagner les équipes métiers. En parallèle, j’exerce une activité de freelance en développement web (WordPress et sites vitrines), pour accompagner de petits commerces dans leur présence en ligne. J’ai également participé en tant que jury évaluateur à Ynov Campus, ce qui m’a permis d’évaluer et d’accompagner des étudiants dans la valorisation de leurs compétences techniques et organisationnelles.<br><br>

						Ce qui me caractérise : ma capacité à m’adapter rapidement à de nouveaux environnements, à apprendre en continu et à partager mes connaissances. Ouvert et impliqué, j’accorde une importance particulière à la communication et à la collaboration, deux qualités essentielles pour faire avancer les projets efficacement.<br><br>
					</p>

				</div>
			</section>
			<section>
				<h2 class="section-title">Diplômes</h2>
				<div class="content">
					<p>BAC+3 Licence Pro Développement WEB (DAWIN), BTS SNIR</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
					<p>PHP, Symfony, HTML/CSS/Tailwind, Python, JS, MySQL, VBA, Docker, CI/CD, Github, Linux</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Valeurs</h2>
				<div class="content">
					<p>Curieux, Créatif, Autonome, Organisé, Dynamique, Polyvalent, Travail d'équipe</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
